<!DOCTYPE html>
<html>
  <head>
    <title>
    Logan careers  
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
      #banner{
        height: 360px;
        width: 100%;
      }
    </style>
  
  </head>    
  <body> 
    <div class="container">
      <h1 class="text-center  mt-2 mb-4"> {{company_name}} 
   careers</h1>
      <img class="img-fluid" id="banner" src="https://logan-careers-website.loganayak925.repl.co/static/banner.jpeg" height="320">
      <h2 class="text-center  mt-2 mb-4"> About Logan </h2>
      <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit aliquam etiam erat velit scelerisque in dictum non. Mi bibendum neque egestas congue quisque egestas diam in arcu. Vitae sapien pellentesque habitant morbi tristique senectus. Morbi enim nunc faucibus a pellentesque sit amet.Vitae sapien elit egestas congue morbi. 
      </p>
      <h2 class="text-center" mt-2 mb-4> Open positions</h2>
      <div>
        {% for job in jobs %}
        {%include'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <button class="btn btn-primary btn-lg">Contact Us</button> 
        <p class="mt-4"> Copyright 2022, Logan</p>
      </div>
    </div>
    </body>
  </head>
</html>